[phases.setup]
nixPkgs = ['nodejs_20', 'pnpm']

[phases.install]
cmds = ['pnpm install --frozen-lockfile', 'pnpm add -D tsx']

[phases.build]
cmds = [
  'pwd',
  'ls -la',
  'ls -la server/ || echo "server dir not found"',
  'pnpm build:client'
]

[start]
cmd = 'node start.mjs'
