[phases.setup]
nixPkgs = ['nodejs_20', 'pnpm']

[phases.install]
cmds = ['pnpm install --frozen-lockfile']

[phases.build]
cmds = [
  'pwd',
  'ls -la',
  'ls -la server/ || echo "server dir not found"',
  'pnpm build:client',
  'pnpm build:server'
]

[start]
cmd = 'node dist/server/node-build.mjs'
